@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --fonte-padrao: "Inter", sans-serif;
}

html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    background-color: rgb(233, 227, 219);
}

header{
    height: 20%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

h1{
    font-size: 40pt;
    font-family: var(--fonte-padrao);
}

h2{
    font-size: 30pt;
    font-family: var(--fonte-padrao);
    font-weight: 500;
}

select{
    background-color: #4d4242;
    height: 50px;
    border-radius: 10px;
    max-width: 500px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 18pt;
    cursor: pointer;
    text-align: center;
}

.cont_button{
    gap: 10px;
}

option{
    cursor: pointer;
}

body{
    height: 100vh;
    padding-inline: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-around;
    align-items: center;
}

.container_text{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--fonte-padrao);
}

textarea{
    background-color: rgb(243, 242, 242);
    border: 2px solid #000;
    resize: none;
    border-radius: 20px;
    width: 40vw;
    height: 23vw;
    padding: 10px;
    font-size: 16pt;
    font-family: var(--fonte-padrao);
    letter-spacing: 1.2px;
    overflow-y: auto;
}

textarea::-webkit-scrollbar{
    width: 6px;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.container_text label{
    font-size: 20pt;
}

button, .btn{
    font-family: var(--fonte-padrao);
    padding: 10px;
    font-size: 20pt;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #d3d2d2;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(243, 242, 242);
    text-decoration: none;
    color: #000;
}

button:hover{
    transform: scale(1.05);
}

.btn:hover{
    font-size: 22pt;
}

.label_letra{
    font-size: 30pt;
    color: #3a2203;
}

.input_letra{
    font-size: 20pt;
    font-family: "Playfair Display", serif;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
}

.div_letra{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100px;
    margin: 20px;
    /* background-color: #4d4242; */
    justify-content: center;
    /* height: 50px; */
}

#form_criar_cripto{
    display: flex;
    flex-wrap: wrap;
    /* padding-inline: 100px; */
    background-color: #47db96;
    width: 90%;
    /* gap: 20px; */
    margin: auto;
    border-radius: 20px;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

#pg2 body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pg2 h2{
    margin-bottom: 30px;
}

#criar_criptografia{
    width: 300px;
}